<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

    <!-- hide this field so that user_id is automatically assigned to the user's list -->
    <%= form.number_field :user_id, value: current_user.id, style: "display: none"%>
  <div>
    <%= form.submit %>
  </div>
<% end %>
