<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= book.image %>
  </p>

  <p>
    <strong>Chaptersread:</strong>
    <%= book.chaptersRead %>
  </p>

  <p>
    <strong>Volumesread:</strong>
    <%= book.volumesRead %>
  </p>

  <p>
    <strong>Datestarted:</strong>
    <%= book.dateStarted %>
  </p>

  <p>
    <strong>Datecompleted:</strong>
    <%= book.dateCompleted %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

</div>
