<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <% if current_user %>
      <a class="navbar-brand heading-font fs-3" href="#">Lista</a>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--
      The two account dropdowns at the end of <nav> are for login/signup and account actions.
      The first is only shown for smaller screens, the second for larger screens, as evident by the .d-"" classes.
    -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user %>
          <% current_user.lists.each do |list| %>
            <li class="nav-item">
              <% if @list && @list.id == list.id %>
                <%= link_to list.title, "/lists/#{list.id}", class: "nav-link active fw-bolder", "aria-current" => "page" %>
              <% else %>
              <%= link_to list.title, "/lists/#{list.id}", class: "nav-link" %>
              <% end %>
            </li>
          <% end %>

          <!-- Account Dropdown for small screens -->
          <li class="nav-item dropdown d-block d-lg-none">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="text-body-tertiary text-uppercase fw-bold"><%= current_user.email %></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Change Password", edit_password_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= button_to "Log Out", session_path, method: :delete, class: "dropdown-item text-danger fw-bold" %>
              </li>
            </ul>
          </li>

          <!-- Account Dropdown for large screens -->
          <li class="nav-item dropdown d-none d-lg-flex position-absolute end-0 top-50 translate-middle-y" style="padding-right: 1rem;">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="text-body-tertiary text-uppercase fw-bold"><%= current_user.email %></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to "Change Password", edit_password_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= button_to "Log Out", session_path, method: :delete, class: "dropdown-item text-danger fw-bold" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log In", new_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
