<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Lista" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- CUSTOM CSS -->
    <%= stylesheet_link_tag 'lista', media: 'all', data: { turbolinks: false } %>

    <!-- HUGEICONS ICON LIBRARY  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Cantata+One&display=swap" rel="stylesheet">

  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <!-- Navigation & Flash Messages -->
    <% if notice.present? %>
      <div class="alert alert-info alert-dismissible fade show px-3 p-2" role="alert">
          <%= notice %>
          <button type="button" class="btn-close pb-1 align-self-center" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissible fade show px-3 p-2" role="alert">
          <%= alert %>
          <button type="button" class="btn-close pb-1 align-self-center" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <% end %>

    <main class="mx-3 mx-md-5 mt-4">
    <%= yield %>
    </main>

  </body>
</html>
